@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F6F4F3;
  min-height: 100vh;
  margin-top: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type=submit] {
  cursor: pointer;
}

::-webkit-file-upload-button {
  background-color: #3777FF;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  margin-right: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 2.5rem 0 4rem;
}

.main__title {
  text-align: center;
  font-weight: 900;
  color: #0D2149;
  max-width: 27rem;
  margin-left: auto;
  margin-right: auto;
}
.main__title span:first-child {
  color: #3777FF;
}
.main__title span:last-child {
  color: #FBB13C;
}

.notifications {
  margin-bottom: 2rem;
  position: sticky;
  top: 1rem;
}
.notifications__error {
  box-shadow: 0 4px 20px rgba(240, 84, 84, 0.2);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FE5F55;
  color: #ffffff;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.notifications__success {
  box-shadow: 0 4px 20px rgba(65, 123, 90, 0.2);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #519872;
  color: #ffffff;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.notifications__close {
  display: inherit;
  cursor: pointer;
}
.notifications__close svg {
  width: 1.7rem;
  height: 1.7rem;
  fill: #ffffff;
}

.index {
  display: grid;
  row-gap: 3.5rem;
}
.index__form {
  width: 100%;
  display: grid;
  row-gap: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.index__form-input {
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.7rem 1.5rem 0.7rem 1rem;
  outline: none;
  font-size: 1.1rem;
  color: #0D2149;
  font-weight: 500;
}
.index__form-file {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #0D2149;
}
.index__form-textarea {
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.7rem 1rem;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #0D2149;
  resize: none;
}
.index__form-submit {
  background-color: #519872;
  color: #ffffff;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0.7rem 0;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
.index__content-images {
  display: grid;
  row-gap: 2.5rem;
}
.index__content-images_card {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.index__content-images_card img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}
.index__content-images_card_body {
  padding: 1.5rem;
  text-align: left;
}
.index__content-images_card_body h3 {
  font-size: 1.4rem;
  color: #0D2149;
  margin-bottom: 1rem;
  font-weight: 700;
}
.index__content-images_card_body p {
  color: #0D2149;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.index__content-images_card_body_delete {
  display: grid;
}
.index__content-images_card_body_delete_btn {
  background-color: #FE5F55;
  color: #ffffff;
  border-radius: 1rem;
  text-align: center;
  padding: 0.7rem 0;
  font-weight: 900;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .main__title {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    max-width: 33rem;
  }
}
@media screen and (min-width: 768px) {
  .index__forms {
    display: flex;
    justify-content: center;
  }
  .index__form {
    width: 560px;
    padding: 2.5rem;
  }
  .index__content-images {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .index__form {
    width: 660px;
  }
  .index__content-images {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .index {
    grid-template-columns: 460px auto;
    column-gap: 2.5rem;
  }
  .index__forms {
    align-items: flex-start;
  }
  .index__form {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
