<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Images with Python - Cloudinary</title>
  <!-- BOXICONS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <!-- STYLES CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <main class="main">
    {% block content %} {% endblock content %}
  </main>

  <!-- SCRIPTS JS -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
