{% extends "base.html" %}

{% block content %}
<section class="index section">
  <div class="index__forms">
    <form action="" method="POST" class="index__form" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.image_title(class_='index__form-input', placeholder='Title', autocomplete='off') }}
      {{ form.image_file(class_='index__form-file') }}
      {{ form.image_description(class_='index__form-textarea', placeholder='Description', rows='8') }}
      {{ form.submit(class_='index__form-submit') }}
    </form>
  </div>
  <div class="index__content">
    {% if images|length < 1 %}
    <h1>Empty</h1>
    {% else %}
    <div class="index__content-images">
      {% for image in images %}
      <article class="index__content-images_card">
        <img src="{{ image.secure_url }}" />
        <div class="index__content-images_card_body">
          <h3>{{ image.image_title }}</h3>
          <p>{{ image.image_description }}</p>
          <div class="index__content-images_card_body_delete">
            <a href="" class="index__content-images_card_body_delete_btn">
              Delete
            </a>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
{% endblock content %}
